@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

@theme {
  --color-primary: #5044E5;
}